//Colors
$text_black_color: #292d32;
$nav_color: #9197b3;
$card_border_color: #eeeeee;
$title_color: #b5b7c0;
$white_color: #ffffff;
$black_color: #000000;
$text_color: #404b52;
$grey_color: #838383;
$hover_bg_color: #5932ea;
$acitve_members_color: #16c098;
$text_active_btn_color: #008767;
$bg_active_btn_color: rgba(22, 192, 152, 0.38);
$text_inactive_btn_color: #df0404;
$bg_inactive_btn_color: #ffc5c5;
$bg_color: #fafbff;
$bg_search_color: #f9fbff;
$card_text_color: #292d32;

// Font
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
