@use './common/breakpoints' as *;
@use './common/mixins' as *;
@use './common/mixins' as *;
@use './common/vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  font-weight: $font-medium;
  background-color: $bg_color;
  color: $text_color;
}
.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.wrapper {
  margin: 0 auto;
}
.header__info {
  padding: 40px 0;
  font-size: 24px;
}

.sidebar-menu__icon_logo {
  width: 37px;
  height: 37px;
}

.title_version {
  font-weight: 500;
  font-size: 10px;
  color: $grey_color;
}
.sidebar-menu {
  position: abso;
  width: 306px;
  background-color: $white_color;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__logo {
    display: flex;
    padding-top: 36px;
    margin: 0 auto;
    gap: 8px;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 64px;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &__item {
        max-width: 231px;
        width: 100%;
        border-radius: 8px;
        display: flex;
        position: relative;
        transition: background-color 0.3s, color 0.3s;
        .sidebar-menu__link {
          padding: 11px;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 16px;
        }
        .navigation-icon-bad {
          fill: transparent;
          stroke: $nav_color;
          width: 24px;
          height: 24px;
        }
        .sidebar-menu__text {
          color: $nav_color;
        }
        .sidebar-menu__icon {
          color: $nav_color;
        }
        .navigation-icon {
          width: 24px;
          fill: $nav_color;
          height: 24px;
        }
        &:not(:first-child)::after {
          content: '>';
          width: 0;
          height: 0;
          position: absolute;
          color: $nav_color;
          justify-content: center;
          align-self: center;
          right: 20px;
          top: 25%;
          transform: translateY(-50%);
        }
        &:hover {
          background-color: $hover_bg_color;
          .sidebar-menu__link,
          .sidebar-menu__icon,
          .sidebar-menu__text,
          .navigation-icon {
            color: $white_color;
            fill: $white_color;
          }
          .navigation-icon-bad {
            stroke: $white_color;
          }
          &:not(:first-child)::after {
            color: $white_color;
          }
        }
      }
    }
  }
  &__user-profile {
    display: flex;
    gap: 12px;
    margin: auto auto 0px 9px;
    padding-bottom: 76px;
    .sidebar-menu__user-avatar {
      width: 42px;
      height: 42px;
      border-radius: 25%;
    }
    .sidebar-menu__user-info {
      .sidebar-menu__user-name {
        font-weight: $font-medium;
      }
      .sidebar-menu__user-position {
        font-weight: $font-regular;
        color: $nav_color;
      }
    }
  }
}
.customer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 812px;
  max-width: 968px;
  background-color: $white_color;
  margin: 0 auto;
  border-radius: 20px;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 53px;
    padding-top: 30px;
    &-left {
      .customer__header-title {
        font-weight: $font-bold;
      }
      .customer__header-subtitle {
        font-weight: $font-regular;
        color: $bg_active_btn_color;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      .customer__search {
        padding-left: 40px;
        width: 216px;
        height: 38px;
        border-radius: 10px;
        border: none;
        background-color: $bg_search_color;
      }
    }
  }
  &__body {
    padding: 1rem;
    font-size: 14px;
    color: $card_text_color;
  }
  &__table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &__table-column,
  &__table-cell {
    padding: 20px;
    border-bottom: 1px solid $card_border_color;
  }
  &__table-column {
    font-weight: bold;
    color: $title_color;
    white-space: nowrap;
  }
  &__table-cell {
    color: $card_text_color;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 32px;
    &-info {
      font-size: 14px;
      color: $title_color;
    }
  }
}

.customer__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.pagination__button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $card_border_color;
  background-color: #f5f5f5;
  color: $card_text_color;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    color: $white_color;
  }

  &--prev,
  &--next {
    font-size: 18px;
  }
}
.current {
  background-color: $hover_bg_color;
  color: $white_color;
}
.customer__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .customer__pagination-button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $card_border_color;
    background-color: $bg_search_color;
    color: $card_text_color;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $bg_search_color;
      color: $title_color;
    }
    &.active {
      background-color: $title_color;
      color: $bg_search_color;
    }
  }
}
.burger-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.burger-menu__button {
  background-color: $bg_search_color;
  border: none;
  color: $hover_bg_color;
  font-size: 24px;
  border-radius: 5px;
}
.customer__header-right {
  position: relative; /* Add this if needed */
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.input-wrapper svg {
  position: absolute;
  left: 8px;
  width: 24px;
  height: 24px;
  pointer-events: none;
  fill: $nav_color;
}

.customer__table-cell {
  white-space: nowrap;
}
.customer__table-cell--status-active {
  padding: 4px 0;
  margin: auto;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  color: $text_active_btn_color;
  background-color: $bg_active_btn_color;
  border: 1px solid $acitve_members_color;
}

.customer__table-cell--status-inactive {
  padding: 4px 0;
  margin: auto;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  color: $text_inactive_btn_color;
  background-color: $bg_inactive_btn_color;
  border: 1px solid $text_inactive_btn_color;
}

@media (max-width: 1280px) {
  .sidebar-menu {
    max-width: 240px;
    min-width: 200px;
  }
  .wrapper {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .sidebar-menu {
    display: none;
    position: absolute;
    box-shadow: 0 6px 10px rgba(89, 50, 234, 0.5);
  }
  .burger-menu {
    display: block;
  }
  .customer__body {
    padding: 20px 5px;
  }
  .customer {
    &__table-column,
    &__table-cell {
      white-space: wrap;
      padding: 20px 5px;
      font-size: 0.7em;
    }
  }
  .customer__header-left h2,
  h3 {
    font-size: 1em;
  }
  .customer__header-right {
    max-width: 120px;
  }
  .pagination__button {
    font-size: 10px;
    height: 20px;
    width: 20px;
  }
  .customer__footer-info {
    font-size: 10px;
  }
  .customer__search {
    max-width: 140px;
  }
}
