:root {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;

  color: $_black_color;
  background-color: $_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
